<link rel="import" href="../../polymer/polymer.html">

<dom-module id="dropdown-btn">
    <style>
      :host{
          display: block;
          width: var(--btn-width, 100px);
      }

      :host ul{
          display: none;
          margin: 0;
          padding:0;
          background: #fbfbfb;
      }

      :host[open] ul{
          display: block;
          border-left: 1px solid var(--btn-border-color, black);
          border-bottom: 1px solid var(--btn-border-color, black);
          border-right: 1px solid var(--btn-border-color, black);
          border-bottom-left-radius: var(--btn-border-radius, 0);
          border-bottom-right-radius: var(--btn-border-radius, 0);
      }

      :host > div {
          border: 1px solid var(--btn-border-color, black);
          border-radius: var(--btn-border-radius, 0);
          text-align: center;
          padding: var(--btn-padding,3px 5px);
          cursor: pointer;
      }

      :host[open] > div {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
      }

      span{
          font-size: var(--btn-font-size,14px);
      }

      li {
          list-style-type: none;
          font-size: 13px;
          padding: 1px 5px;
          cursor: pointer;
          border-bottom: 1px solid #ddd;
      }

      li:last-of-type {
          border: 0 !important;
      }

      li:hover {
          background: #ddd;
      }
    </style>
    <template>
        <div class="dropdown-btn" on-click="toggle">

            <template is="dom-if" if="{{iconRight}}">
                <span>{{btnTxt}}<content></content></span>
            </template>

            <template is="dom-if" if="{{!iconRight}}">
                <span><content></content>{{btnTxt}}</span>
            </template>
        </div>
        <ul class="menu">
           <template is="dom-repeat" items="{{datas}}">
               <li data-val$="{{item}}">{{item}}</li>
           </template>
        </ul>
    </template>
    <script>
        Polymer({
            is:'dropdown-btn',
            properties:{
               btnTxt:{
                   type: String,
                   value: "button"
               },
               collection: String,
               open:{
                   type: Boolean,
                   value: false,
                   reflectToAttribute: true
               },
               iconRight: {
                   type: Boolean,
                   value: false
               },
               datas:{
                   type: Array,
                   computed:"_parse(collection)"
               }
            },
            attached: function () {
                var self = this;
                this.lis = this.querySelectorAll("li");
                this.lis.forEach(function (li) {
                    self.listen(li, 'click', "onLiClick");
                })
            },
            toggle: function(){
                this.open = !this.open;
            },
            onLiClick: function(e){
                this.btnTxt = e.target.getAttribute("data-val");
                this.open = false;
            },
            _parse: JSON.parse
        })
    </script>
</dom-module>